@using PackerTracker.Models;

<h1>Current Inventory: </h1>

  @if (Model.Count == 0)
  {
    <p>There are no items in your packing list!</p>
  }
  @foreach (CampingItems item in Model)
  { 
    if (@item.Packed == true)
    {
      <input type="checkbox" checked="checked" name="@item.Item"><a href="/items/@item.Id"> @item.Item </a>
    }
    else
    {
      <input type="checkbox" name="@item.Item"><a href="/items/@item.Id"> @item.Item </a>
    }
<br>
}
<br>
<a href="/items/new">Add a new camping item!</a>