@using PackerTracker.Models;

<h1>@Model.Item</h1>

<ul>
    <li>Cost of item: @Model.Price</li>
    <li>Weight of item: @Model.Weight</li>
    <li>Packed status: @Model.Packed</li>
    <li>Who is bringing it: @Model.Name</li>
</ul>

<button><a href="/items">Go back to list of items.</a></button>